<nav class="header">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-3">
                <a href="{{ 'home'|page }}">
                    <img class="" src="{{ 'assets/images/TSA_LogoBlue.png'|theme }}" alt="Telas Santo Antonio">
                </a>
            </div>
            <div class="col-md-8 header-linkcontainer d-none d-md-flex">
                <a class="header-link" href="{{ 'product'|page }}">Produtos</a>
            </div>
            <div class="col-2 col-md-1 header-iconcontainer">
                <button class="header-burger-btn" data-action="openBurgerMenu">
                    <span 
                    {% if this.page.id == 'home' %}
                        class="header-icon-home"
                    {% else %}
                        class="header-icon-internal"
                    {% endif %}>
                    </span>
                </button>
            </div>
        </div>
    </div>
</nav>