<div class="form form-success">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="form-title">Obrigado pela sua mensagem!</h1>
                <h2 class="form-subtitle">Em breve um de nossos profissionais entrará em contato.</h2>

                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <a class="form-button" href="{{ 'home'|page }}">Voltar</a>
                    </div>
                </div>                

            </div>
        </div>
    </div>
</div>