.aboutmission {

    padding: 200px 0;
    @extend %flexcenter;

    &-textcontent {

    }

    &-title {
        @extend %pagetitle;
        position: relative;
        letter-spacing: 5px;
        font-size: $title;

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: -5px;
            background-color: $yellow;
            height: 60px;
            width: 60px;
            z-index: -1;
        }
    }

    &-text {
        font-size: $normal;
        line-height: 40px;
        width: 85%;
        margin-bottom: 45px;
    }

}