<!-- Tipo 5 ( 3 Imagens com seus respectivos títulos ) -->

<div class="col-12 prodsingle-type5">
    <div class="row">
        <div class="col-10 offset-1 col-md-3 offset-md-1 mb-5 mb-md-0">
            <h2 class="prod-subtitle">{{ field.title_type5_left }}</h2>
            <img src="{{ field.image_type5_left|media }}" class="img-fluid">
        </div>
        <div class="col-10 offset-1 col-md-3 my-5 my-md-0">
            <h2 class="prod-subtitle">{{ field.title_type5_center }}</h2>
            <img src="{{ field.image_type5_center|media }}" class="img-fluid">
        </div>
        <div class="col-10 offset-1 col-md-2 my-5 my-md-0">
            <h2 class="prod-subtitle">{{ field.title_type5_right }}</h2>
            <img src="{{ field.image_type5_right|media }}" class="img-fluid">
        </div>
    </div>
</div>