<div class="aboutarea">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid aboutarea-img" src="{{ 'assets/images/about/map.svg'|theme }}" alt="Mapa">
            </div>
            <div class="col-lg-6 aboutarea-textcontent">
                <h2 class="aboutarea-title">Área de atuação</h2>
                <p class="aboutarea-text">A fabricação e o armazenamento dos nossos produtos estão localizados de maneira estratégica em Itapetininga, município do interior de São Paulo com fácil acesso para as principais rodovias que ligam o norte e sul do país. A sede conta com um espaço de mais de 2000 m², uma área ampla e moderna onde garantimos a eficiência de nossa logística.</p>
            </div>
        </div>
    </div>
</div>