<div class="aboutdna">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2 class="aboutdna-title">Nosso DNA</h2>
                <p class="aboutdna-text">Compromisso e qualidade são a base fundamental para nossa empresa que utiliza sistemas modernos de gestão integrada garantindo o desempenho dos produtos, economia de tempo, prevenção de falhas, ações de sustentabilidade para preservação do meio ambiente e satisfação dos clientes, fornecedores e colaboradores. Atendemos o segmento residencial, comercial e industrial oferecendo soluções diferenciadas e completas visando auxiliar da melhor maneira cada especificação. </p>
            </div>
        </div>
    </div>
</div>