<div class="homehistory">
    <div class="container">
        <div class="row">
            <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="50" data-aos-offset="0" class="col-10 offset-1 col-md-8 offset-md-2">
                <h2 class="homehistory-title">Telas Santo Antônio, compromisso com a qualidade.</h2>
                <h3 class="homehistory-subtitle">
                    A TSA está no mercado de telas e alambrados desde 1985, além de distribuição de arames, gradil, concertinas e uma variedade de tipos de telas.
                    A TSA surgiu de um sonho e através de muita força de vontade, transformou-se em realidade. Com a força da família surgiu a A Força da Estrutura, contando com o engajamento dos colaboradores, aliado aos investimentos em tecnologia e equipamentos, a empresa atingiu o crescimento e hoje, cumpre o propósito de levar até você, as melhores e diferentes malhas e telas do mercado.
                    A Telas Santo Antonio está localizada em Itapetininga-SP em uma área de 2000 m2 na fabricação e comercialização de telas e alambrados.
                </h3>
            </div>
        </div>
    </div>
</div>