/*
 *  Owl Carousel - Animate Plugin
 */
 .owl-carousel{
	.animated {
		-webkit-animation-duration : 1s  ;
		animation-duration : 1s  ;
	  
		-webkit-animation-delay : 500ms  ;
		animation-delay : 500ms  ;
	}
	.owl-animated-in {
		z-index: 0;
	}
	.owl-animated-out {
		-webkit-animation-delay : 0ms  ;
		animation-delay : 0ms  ;
		z-index: 1;
	}
	.fadeOut {
		animation-name: fadeOut;
	}
	.fadeIn {
		animation-name: fadeIn;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
