
// Color Variables
$black: #505050;
$black-text: #707070;
$gray-light: #F0F0F0;
$gray: #ddd;
$gray-darker: #B9B9B9;
$white: #fff;
$blue: #475F7F;
$yellow: #FFC400;

// Font Sizes
$small: 14px;
$normal: 18px;
$big: 24px;
$title: 40px;
$bigtitle: 60px;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

// Breakpoints
$phone-sm: 576px;
$tablet-md: 768px;
$desktop-lg: 992px;
$desktop-xl: 1200px;
$desktop-xxl: 1600px;

// Font Families 
$primary-font: 'Lato', sans-serif;